body {
    font-family: Roboto, sans-serif;
    background-color: lightblue;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
}

h5 {
  margin-top: 0px;
  margin-bottom: 1px;
}

#name-form {
    margin: auto;
    width: 30%;
    padding: 10px;  
}

#name-input {
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border-width: 0px;
    font-size: 21px;
    padding-left: 5px;
}

#connect-button {
    display: block;
    margin: auto;
    height: 30px;
    width: 30%;
    min-width: 100px;
    border-radius: 10px;
    font-size: 21px;
    border-width: 0px;
    margin-top: 10px;
    cursor: pointer;
}

#connect-button:hover {
    background: darkgray;
}

#chatbox {
    height: 500px;
    width: 60%;
    margin: auto;
    overflow-y: scroll;
    background-color: white;
    list-style: none;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }

#chatbox p {
  padding: 8px;
  color: white;
  border-radius: 4px;
  margin-bottom: 2px;
}

#chatbox .bot p {
    background: rgb(165, 164, 164);
    float: left;
    width: 70%
}
  
#chatbox .bot .text {
  float: left;
}

#chatbox .bot .icon {
  padding-top: 20px;
  padding-right: 5px;
  float: left;
}

#chatbox .user p {
  background: rgb(78, 150, 218);
  float: right;
}

#chatbox .user .text {
float: right;
}

#chatbox .user .icon {
padding-top: 20px;
padding-left: 5px;
float: right;
}

#message-box {
    margin: auto;
    text-align: center;
    width: 63%;
    padding-top: 10px;
}

#chat-input {
    height: 25px;
    width: 85%;
    border-radius: 10px;
    border-width: 0px;
    padding-left: 5px;
}

#send-button {
    height: 25px;
    width: 12%;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
}

#send-button:hover {
    background: darkgray;
}

#matrix-switch {
    margin: auto;
    width: 60%;
    text-align: center;
}

#matrix-label {
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 2px;
}

/* Slider code from https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }